flows (4).json
[{"id":"d38851c9.21193","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"afb72432.9b80c8","type":"ui_button","z":"d38851c9.21193","name":"","group":"fc75cc7f.fec3","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":180,"wires":[["9f228f31.4a15b"]]},{"id":"9f228f31.4a15b","type":"http request","z":"d38851c9.21193","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://9badadc3-9e1a-45a6-84a2-0a72603bd382-bluemix.cloudant.com/animals/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":true,"proxy":"","authType":"basic","x":330,"y":180,"wires":[["6f673ec0.75b46","500e4f87.c4c76"]]},{"id":"6f673ec0.75b46","type":"function","z":"d38851c9.21193","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["500e4f87.c4c76","fce35219.5054"]]},{"id":"fce35219.5054","type":"ui_template","z":"d38851c9.21193","group":"fc75cc7f.fec3","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":340,"wires":[[]]},{"id":"500e4f87.c4c76","type":"debug","z":"d38851c9.21193","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"fc75cc7f.fec3","type":"ui_group","z":"","name":"Project","tab":"62a9b73b.cd70f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"62a9b73b.cd70f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]