flows.json
[{"id":"37191483.2751dc","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"823d8ce0.ae189","type":"ui_button","z":"37191483.2751dc","name":"","group":"fc75cc7f.fec3","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":200,"wires":[["28d4f758.4464d8"]]},{"id":"28d4f758.4464d8","type":"http request","z":"37191483.2751dc","d":true,"name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://9badadc3-9e1a-45a6-84a2-0a72603bd382-bluemix.cloudant.com/animas/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":true,"proxy":"","authType":"basic","x":380,"y":200,"wires":[["7be8b5a2.874e1c","18c4a54c.2a8ddb"]]},{"id":"7be8b5a2.874e1c","type":"function","z":"37191483.2751dc","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["18c4a54c.2a8ddb","c68de72b.9c8ac8"]]},{"id":"c68de72b.9c8ac8","type":"ui_template","z":"37191483.2751dc","group":"fc75cc7f.fec3","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":360,"wires":[[]]},{"id":"18c4a54c.2a8ddb","type":"debug","z":"37191483.2751dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":240,"wires":[]},{"id":"fc75cc7f.fec3","type":"ui_group","z":"","name":"Project","tab":"62a9b73b.cd70f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"62a9b73b.cd70f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]